<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apps</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="apptable.css">
</head>
<body>
    <div class="topBar">

        <nav id="popout">
            <label for="sidebarActive" id="closeSidebarButton">
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e3e3e3"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </label>
            <div class="linksContainer" id="linksContainer">
                <a id="homeLink" href="index.html">Home</a>
                <a id="appsLink" href="Apps.html">Apps</a>
            </div>
        </nav>

        <div class="wrapper" id="hamburg">
            <a href="#" class="nav">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </a>
        </div>

        <div class="bar">
            <p></p>
            <p class="barText">GServ Apps</p>
        </div>
        
        <div id="hamburg2">
            <a href="#" class="nav">
                <div class="one" style="background-color: rgba(240, 248, 255, 0);"></div>
                <div class="two" style="background-color: rgba(240, 248, 255, 0);"></div>
                <div class="three" style="background-color: rgba(240, 248, 255, 0);"></div>
            </a>
        </div>
    </div>

    <br>
    <br>

    <div id="appDrawer">

        <a href="#" id="expandBar1"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e3e3e3"><path d="M480-360 280-560h400L480-360Z"/></svg>
            <p id="expandBarText">Apps</p>
        </a>

        <div id="apps">

            

            <a href="http://192.168.0.74:8096" target="_blank">
                <img src="Content/jellyfin.png" height="100">
            </a>

            <a href="http://192.168.0.74:5055" target="_blank">
                <img src="Content/jellyseerr.png" height="100">
            </a>

            <a href="http://192.168.0.74:7878" target="_blank">
                <img src="Content/radarr.png" height="100">
            </a>

            <a href="http://192.168.0.74:8989" target="_blank">
                <img src="Content/sonarr.png" height="100">
            </a>

            <a href="http://192.168.0.74:8686" target="_blank">
                <img src="Content/lidarr.png" height="100">
            </a>

            <a href="http://192.168.0.74:9696" target="_blank">
                <img src="Content/prowlarr.png" height="100">
            </a>

            <a href="http://192.168.0.74:8080" target="_blank">
                <img src="Content/qbittorrent.png" height="100">
            </a>

            <a href="http://192.168.0.74:81" target="_blank">
                <img src="Content/nginx.png" height="110">
            </a>

            <a href="https://192.168.0.74:8443" target="_blank">
                <img src="Content/crafty.png" height="95">
            </a>

            <a href="http://192.168.0.74:4533" target="_blank">
                <img src="Content/navidrome5.png" height="100">
            </a>

        </div>

        <div id="">

        </div>


    </div>

    <script src="main.js"></script>
</body>
</html>